version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: spring_security_db
      POSTGRES_USER: spring
      POSTGRES_PASSWORD: spring

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/spring_security_db
      SPRING_DATASOURCE_USERNAME: spring
      SPRING_DATASOURCE_PASSWORD: spring
